@use './typography' as *;

@mixin mobileh1 {
    font-family: 'AvenirBold';
    font-size: 24px;
}

@mixin mobileh2 {
    font-family: 'AvenirDemi';
    font-size: 14px;
}

@mixin mobileh3 {
    font-family: 'AvenirRegular';
    font-size: 13px;
}

@mixin mobilep {
    font-family: 'AvenirRegular';
    font-size: 13px;
}



