@font-face {
    font-family: 'AvenirRegular';
    src:url(/sprint-one/assets/Avenir/LAvenirNextLTProRegular.otf)
}

@font-face {
    font-family: 'AvenirDemi';
    src:url(/sprint-one/assets/Avenir/LAvenirNextLTProDemi.otf)
}

@font-face {
    font-family: 'AvenirBold';
    src:url(/sprint-one/assets/Avenir/LAvenirNextLTProBold.otf)
}

