@use './typography' as *;
@use './mixins' as *;
@use './variables' as *;

body{
    margin-left:0%;
    margin-right:0%;
}

.bandheader {
    background-image: url("/sprint-one/assets/Images/Hero\ 1.jpeg");
    width:100%;
    height:11.4375rem;
    background-size: cover;
    background-position: center center;
    color:white;
}
    
h1,h2,h3,p,.photogallery__pics,.bandsite-footer{
    padding-left:1rem;
    padding-right:1rem;
}    
    
h1 {
    font-family: 'AvenirBold';
}

h2 {
    font-family: 'AvenirDemi';
}

h3 {
    font-family: 'AvenirRegular';
}

p {
     font-family: 'AvenirRegular';
}


.bandintro {
    display: flex;
    flex-direction: column;
}

.bandintro__image {
    width:100%;
}

.photogallery {
    background-color: $mercury;
}

.photogallery__pics {
    width:100%;
    padding-bottom: 16px;
}


.bandsite-footer {
    background-color: $navblack;
}